In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("knn1.csv")

In [3]:
df

   age  Income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65
5   21      62
6   25      65
7   30      70
8   31      68

# Preprocessing

In [4]:
kdf = df.copy()

In [5]:
ldf = df.copy()

In [6]:
xk = kdf.drop('Income', axis=1)

In [7]:
yk = kdf.drop('age', axis=1)

In [8]:
xk.head()

   age
0   21
1   20
2   22
3   22
4   23

# KNN

In [20]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [10]:
neigh = KNeighborsRegressor(n_neighbors=3)

In [11]:
neigh.fit(xk, yk)

KNeighborsRegressor(n_neighbors=3)

In [36]:
knnPred22 = neigh.predict([[22]])
knnPred22

/home/applehx7/.local/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([[60.33333333]])

In [18]:
kdf['Predicted y'] = neigh.predict(xk)

In [19]:
kdf.head()

   age  Income  Predicted y
0   21      60    59.000000
1   20      55    59.000000
2   22      60    60.333333
3   22      61    60.333333
4   23      65    62.000000

In [21]:
msek = mean_squared_error(yk, kdf['Predicted y'])

In [22]:
msek

4.876543209876539

# Linear Regression Data Preprocessing

In [27]:
xl = ldf.drop('Income', axis=1)

In [28]:
yl = ldf.drop('age', axis=1)

In [29]:
xl.head()

   age
0   21
1   20
2   22
3   22
4   23

In [30]:
yl.head()

   Income
0      60
1      55
2      60
3      61
4      65

# Linear Regression

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
reg = LinearRegression()

In [37]:
reg.fit(xl, yl)

LinearRegression()

In [38]:
linerPred22 = reg.predict([[22]])
linerPred22

/home/applehx7/.local/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[60.97068966]])

In [39]:
ldf['Predicted y'] = reg.predict(xl)

In [41]:
ldf.head()

   age  Income  Predicted y
0   21      60    59.955172
1   20      55    58.939655
2   22      60    60.970690
3   22      61    60.970690
4   23      65    61.986207

In [44]:
msel = mean_squared_error(yl, ldf['Predicted y'])
msel

3.9965517241379303

# Comparison

In [45]:
print(f"Mse of Knn: {msek} > Mse of Linear: {msel}")

Mse of Knn: 4.876543209876539 > Mse of Linear: 3.9965517241379303

#### So here, Linear Regression is Better than Knn regression